@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
    font-family: "Poppins";
    scroll-padding: 70px;
}